.App {
  text-align: center;

}
body{
  background-color: palegoldenrod;
}

.getMore ,.getUsers {
  background-color: #9f4c11;
  width: 80px;
  height: 30px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}



